# Core dependencies
MetaTrader5==5.0.47
numpy>=1.26.0
pandas==2.0.3
python-dotenv==1.0.0

# Analysis & ML
scikit-learn>=0.24.2
hmmlearn>=0.2.7
bayesian-optimization>=1.2.0
arch>=5.0.0
optuna>=3.0.0

# Visualization
matplotlib==3.7.1

# Logging
loguru>=0.5.3 